/* ===================================================================
Start: Icon Fonts
=================================================================== */
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "/assets/icons";

$icon-user: "\e904";
$icon-down-arrow: "\e900";
$icon-facebook: "\e901";
$icon-instagram: "\e902";
$icon-logo-fluid: "\e903";
$icon-star-filled: "\e905";
$icon-right-triangle: "\e906";
$icon-search-line: "\e907";
$icon-shopping-bag: "\e908";
$icon-twitter: "\e909";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-down-arrow {
  &:before {
    content: $icon-down-arrow; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-logo-fluid {
  &:before {
    content: $icon-logo-fluid; 
  }
}
.icon-star-filled {
  &:before {
    content: $icon-star-filled; 
  }
}
.icon-right-triangle {
  &:before {
    content: $icon-right-triangle; 
  }
}
.icon-search-line {
  &:before {
    content: $icon-search-line; 
  }
}
.icon-shopping-bag {
  &:before {
    content: $icon-shopping-bag; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
/* ===================================================================
End: Icon Fonts
=================================================================== */